$header_filler: #8EB3E2;
$text_color: #0000FF;
$page_width: 800px;
$wire_border: 1px solid black;
$row_height: 60px;
$standard_padding: 3px;
$group_spacing: 10px;

div#header{
  width: $page_width;
  heght: 200px;
  
  h2{
    font-size: 15pt;
  }
  
  h4{
    font-style: italic;
  }
  
  h2,h3{
    color: $text_color;
  }
  
  h3,h4{
    font-size: 11pt;
  }
  
  h2,h3,h4{
    font-weight: bold;
    margin: $standard_padding;
    padding: 0px;
  }

  div#org_title{
    float:left;
    width: 690px;
    #header_text{
      margin-top: 10px;
      text-align: center;
      float:right;
      width:550px;
    }
    image{
      float:left;
    }
  }
  
  image{
    float:left;
  }
}

#position_info{
  clear:both;
}

#application_form{
  clear:both;
}

.form_block{
  width: $page_width;
}

@mixin cellish {
  padding-left: $standard_padding;
  padding-top: $standard_padding;
  height: 97%;
  label{
    display:block;
    font-weight:bold;
  }
}

@mixin rowish{
  margin-top: 0px;
  margin-bottom: $group_spacing;
  border: $wire_border;
  
  .form_cell{
    @include cellish;
    float: left;
    border-right: $wire_border;
  }
  
  .last_form_cell{
    @include cellish;
    float: right;
  }
  
  textarea{
    width: 700px;
    height: 98px;
    margin-left: 49px;
    margin-top: $standard_padding;
    margin-bottom: $standard_padding;
  }
  
  textarea.small_area{
    width:250px;
    height:50px;
    margin-left: 10px;
  }
}

.form_row{
  @include rowish;
  height: $row_height + 2;
}

.tall_form_row{
  @include rowish;
  height: $row_height + 55;
}

.narrative_form_row{
  @include rowish;
  height: $row_height + 350;
}

.table_header_row{
  @include rowish;
  height: $row_height - 20;
}

.form_block_header{
  background-color: $header_filler;
  border-top: $wire_border;
  border-left: $wire_border;
  border-right: $wire_border;
  padding-top: $standard_padding;
  padding-bottom: $standard_padding;
  
  div{
    display:inline;
  }
  .main{
    font-weight:bold;
    padding-left: 8px;
  }
  .sub{
    font-style: italic;
  }
}

.inline_group{
  input,div{
    display:inline;
  }
}

#inline_label_1{
  display:inline;
}

.column_name{
  background-color:#CCCCCC;
  font-weight: bold;
}

.righty{
  float:right;
}

.centered{
  text-align:center;
}

@mixin wire_table{
  border-collapse: collapse;
  border: $wire_border;
}

table{
  @include wire_table;
  width: $page_width;
  margin-bottom: $group_spacing;
  
  tr,th,td{
    @include wire_table;
    padding: $standard_padding;
  }
  
  th{
    background-color:#CCCCCC;
    font-weight: bold;
  }
}