#header
  =image_tag "bcfd_logo.png"
  %span
    %h2 BOONE COUNTY FIRE PROTECTION DISTRICT
    %h3 2201 I-70 Dr NW - Columbia MO, 65202
    %h3 (573) 447 - 5000
  =image_tag "bcfd_logo.png"
=form_for @membership_application do |m|
  #personal_information.form_block
    .header 
      .main PERSONAL INFORMATION
      .sub as it appears on your SSN card
    .form_row
      .form_cell
        =m.label :last_name,"Name (Last)"
        =m.text_field :last_name
      .form_cell
        =m.label :first_name,"(First)"
        =m.text_field :first_name
      .form_cell
        =m.label :middle_initial,"(M.I.)"
        =m.text_field :middle_initial
      .form_cell
        =m.label :social_security_number,"Social Security Number"
        =m.text_field :social_security_number
    .form_row
      .form_cell
        =m.label :address,"Address: (Street)"
        =m.text_field :address
      .form_cell
        =m.label :city,"(City)"
        =m.text_field :city
      .form_cell
        =m.label :state,"(State)"
        =m.text_field :state
      .form_cell
        =m.label :zip,"(Zip)"
        =m.text_field :zip
    .form_row
      .form_cell
        =m.label :phone_number,"Telephone Number: (Primary)"
        =m.text_field :phone_number
      .form_cell
        =m.label :phone_number_2,"(Secondary)"
        =m.text_field :phone_number_2
    .form_row
      .form_cell
        =m.label :email,"E-mail:"
        =m.text_field :email
      .form_cell
        =m.label :may_contact_at_work,"May we contact you at work?"
        =m.radio_button :may_contact_at_work,true
        Yes
        =m.radio_button :may_contact_at_work,false
        No
    .form_row
      .form_cell
        =m.label :birth_date,"Date of Birth:"
        =m.text_field :birth_date
      .form_cell
        =m.label :has_been_employed_under_alias,"Have you been employed under other names?"
        =m.radio_button :has_been_employed_under_alias,true
        Yes
        =m.radio_button :has_been_employed_under_alias,false
        No
        =m.label :aliases,"List Name(s):"
        =m.text_field :aliases
    .form_row
      .form_cell
        =m.label :drivers_license_number,"Driver's License Number:"
        =m.text_field :drivers_license_number
        =m.label :drivers_license_state,"State:"
        =m.text_field :drivers_license_state
        =m.label :drivers_license_expiration_date,"Date of Expiration:"
        =m.text_field :drivers_license_expiration_date
    .form_row
      .form_cell
        Have you ever been convicted of a crime? 
        =m.radio_button :has_crime_convictions,true
        Yes
        =m.radio_button :has_crime_convictions,false
        No
        If you answer “Yes”, give details in space provided showing (1) Date; (2) Charge; (3) Place; (4) Court; and (5) Action Taken; NOTE: Convictions or discharges do not necessarily disqualify you from employment. Each case will be considered fairly on its merits and after full consideration of the applicant’s views.
        =m.text_area :crime_details
        Have you ever received a traffic violation? 
        =m.radio_button :has_traffic_violations,true
        Yes
        =m.radio_button :has_traffic_violations,false
        No
        If you answered “Yes”, explain:
        =m.text_area :traffic_violations_details
  #employment_history.form_block
    .header 
      .main Employment History
    .form_row
      .form_cell
        =m.label :employer_name,"Name of Employer:"
        =m.text_field :employer_name
      .form_cell
        =m.label :employer_phone,"Phone:"
        =m.text_field :employer_phone
      .form_cell
        =m.label :employer_start,"Start:"
        =m.text_field :employer_start
        =m.label :employer_stop,"Ending:"
        =m.text_field :employer_stop
      .form_cell
        =m.label :employer_exit_reason,"Reason for Leaving:"
        =m.text_area :employer_exit_reason
    .form_row
      .form_cell
        =m.label :employer_name_2,"Name of Employer:"
        =m.text_field :employer_name_2
      .form_cell
        =m.label :employer_phone_2,"Phone:"
        =m.text_field :employer_phone_2
      .form_cell
        =m.label :employer_start_2,"Start:"
        =m.text_field :employer_start_2
        =m.label :employer_stop_2,"Ending:"
        =m.text_field :employer_stop_2
      .form_cell
        =m.label :employer_exit_reason_2,"Reason for Leaving:"
        =m.text_area :employer_exit_reason_2
    .form_row
      .form_cell
        =m.label :employer_name_3,"Name of Employer:"
        =m.text_field :employer_name_3
      .form_cell
        =m.label :employer_phone_3,"Phone:"
        =m.text_field :employer_phone_3
      .form_cell
        =m.label :employer_start_3,"Start:"
        =m.text_field :employer_start_3
        =m.label :employer_stop_3,"Ending:"
        =m.text_field :employer_stop_3
      .form_cell
        =m.label :employer_exit_reason_3,"Reason for Leaving:"
        =m.text_area :employer_exit_reason_3
  #military.form_block
    .header 
      .main Military
    .form_row
      .form_cell
        =m.label :military_branch,"Branch:"
        =m.text_field :military_branch
      .form_cell
        =m.label :military_rank,"Rank at Discharge:"
        =m.text_field :military_rank
      .form_cell
        =m.label :military_start_date,"Start Date:"
        =m.text_field :military_start_date
        =m.label :military_discharge_date,"Discharge Date:"
        =m.text_field :military_discharge_date
      .form_cell
        =m.label :military_training,"Duties/Special Training:"
        =m.text_area :military_training
  #high_school.form_block
    .header 
      .main High School
    .form_row
      .form_cell
        =m.label :high_school_name,"Name:"
        =m.text_field :high_school_name
      .form_cell
        =m.label :high_school_city,"City:"
        =m.text_field :high_school_city
        =m.label :high_school_state,"State:"
        =m.text_field :high_school_state
      .form_cell
        =m.label :high_school_graduation_date,"Date Graduated:"
        =m.text_field :high_school_graduation_date
        =m.label :high_school_ged_date,"Date of GED:"
        =m.text_field :high_school_ged_date
  #college.form_block
    .header
      .main College/University
    .form_row
      .form_cell.column_name  
        College/University
        Attended/Location
      .form_cell.column_name 
        From Date
      .form_cell.column_name 
        To Date
      .form_cell.column_name 
        Units Completed
      .form_cell.column_name 
        Major
      .form_cell.column_name 
        Degree
      .form_cell.column_name
        Year
    .form_row
      .form_cell
        =m.text_field :college_name
        =m.text_field :college_location
      .form_cell
        =m.text_field :college_start_date
      .form_cell
        =m.text_field :college_stop_date
      .form_cell
        =m.text_field :college_units_completed
      .form_cell
        =m.text_field :college_major
      .form_cell
        =m.text_field :college_degree
      .form_cell
        =m.text_field :college_year
    .form_row
      .form_cell
        =m.text_field :college_name_2
        =m.text_field :college_location_2
      .form_cell
        =m.text_field :college_start_date_2
      .form_cell
        =m.text_field :college_stop_date_2
      .form_cell
        =m.text_field :college_units_completed_2
      .form_cell
        =m.text_field :college_major_2
      .form_cell
        =m.text_field :college_degree_2
      .form_cell
        =m.text_field :college_year_2
    .form_row
      .form_cell
        =m.text_field :college_name_3
        =m.text_field :college_location_3
      .form_cell
        =m.text_field :college_start_date_3
      .form_cell
        =m.text_field :college_stop_date_3
      .form_cell
        =m.text_field :college_units_completed_3
      .form_cell
        =m.text_field :college_major_3
      .form_cell
        =m.text_field :college_degree_3
      .form_cell
        =m.text_field :college_year_3
  #training.form_block
    .header
      .main Special Training
    .form_row
      .form_cell.column_name  
        Institution - Business or Trade School
      .form_cell.column_name 
        Course
      .form_cell.column_name 
        From Date
      .form_cell.column_name 
        To Date
      .form_cell.column_name 
        Hours Completed
    .form_row
      .form_cell
        =m.text_field :training_institution
      .form_cell
        =m.text_field :training_course
      .form_cell
        =m.text_field :training_start_date
      .form_cell
        =m.text_field :training_stop_date
      .form_cell
        =m.text_field :training_hours
    .form_row
      .form_cell
        =m.text_field :training_institution_2
      .form_cell
        =m.text_field :training_course_2
      .form_cell
        =m.text_field :training_start_date_2
      .form_cell
        =m.text_field :training_stop_date_2
      .form_cell
        =m.text_field :training_hours_2
  #certification.form_block
    .header
      .main Skills & Certifications
      .sub List all professional licenses and registrations you hold
    .form_row
      .form_cell.column_name  
        License/Certifications
      .form_cell.column_name 
        License Number
      .form_cell.column_name 
        Issued By
      .form_cell.column_name 
        Expiration Date
      .form_cell.column_name 
        Hours Completed
    .form_row
      .form_cell
        =m.text_field :certification_name
      .form_cell
        =m.text_field :certification_number
      .form_cell
        =m.text_field :certification_issuer
      .form_cell
        =m.text_field :certification_expiration
    .form_row
      .form_cell
        =m.text_field :certification_name_2
      .form_cell
        =m.text_field :certification_number_2
      .form_cell
        =m.text_field :certification_issuer_2
      .form_cell
        =m.text_field :certification_expiration_2
    .form_row
      .form_cell
        =m.text_field :certification_name_3
      .form_cell
        =m.text_field :certification_number_3
      .form_cell
        =m.text_field :certification_issuer_3
      .form_cell
        =m.text_field :certification_expiration_3
  =submit_tag "Submit"