%h2 Membership Application Site

.open_spots
  %h3 Our open positions
  -@positions.each do |position|
    .position_row
      %h4.name=position.name
      .description=position.description
      =link_to "Apply",new_position_membership_application_path(position)