%h2 Membership Application Site
-if current_user
  = link_to "My Account",edit_user_path(current_user)
  %br
  = link_to "Manage Positions",positions_path
  = render_cell :application_queue, :display
-else
  =link_to "Admin Sign in",new_user_session_path
.open_spots
  %h3 Our open positions
  -@positions.each do |position|
    .position_row
      %h4.name=position.name
      .description=position.description
      =link_to "Apply",new_position_membership_application_path(position)
=link_to "Finish/Edit my application",find_application_path